<div class="itinerary">
  <% @itinerary.stops.each do |stop| %>
    <div class="stop">
      <%= stop.time_to_post.strftime('%l:%M%P') + " " + stop.name %>
    </div>
  <% end %>
  <%= form_for @itinerary do |f| %>
    <%= f.hidden_field(:approved, :value => "1") %>
    <%= f.submit %>
  <% end %>
</div>