<h3>Unleash your living room!</h3>
<p>Wouldn’t it be great if there was an app that showed you all of the cool parties, bars and restaurants that you could be hitting tonight? Of course it would. But you know what would be even better? A social application that will lie and say you are already doing those things while you sit at home in your pajamas.</p>

<p><strong>CouchCachet</strong> finds the coolest parties in your neighborhood, and automatically checks you in on Foursquare so all your friends can be super jealous of how awesome you are. Plus it will tweet all the right lyrics from the right indie rock bands, post amazing images of young 20-somethings in skinny jeans from instagram and wax poetic about that perfect local, organic, microbrew that everyone's drinking. You won't be cooler, but you will seem that way.</p>

<p>So what are you waiting for? Start living the life you've always wanted without ever leaving the house.</p>
<ul>
	<li><h3><table><tr><td>Step 1: </td><td><a href='/clients/foursquare/new'><img src='https://playfoursquare.s3.amazonaws.com/press/logo/connect-black.png'/ style="padding-left: 10px;"></a></td></tr></table></h3></li>
	<li><h3 style="margin-top:10px;">Step 2: Check-in to your home.</h3></li>
</ul>