<ul>
	<li><h3><table><tr><td>Step 1: </td><td><a href='/clients/foursquare/new'><img src='https://playfoursquare.s3.amazonaws.com/press/logo/connect-black.png'/ style="padding-left: 10px;"></a></td></tr></table></h3></li>
	<li><h3 style="margin-top:10px;">Step 2: Check-in to your home.</h3></li>
</ul>