<h3>Unleash your living room!</h3>
<p>Wouldn’t it be great if there was an app that showed you all of the cool parties, bars and restaurants in your neighborhood? Of course it would. But you know what’s even better? A social application that will lie and say you are already doing those things.</p> 
<p><strong>CouchCachet</strong> will post interesting status updates to your social feeds. It will find cool parties in your neighborhood then automatically check you in on Foursquare. It will randomly tweet lyrics from indie rock bands and post images of young 20-somethings in skinny jeans from instagram.</p>
<p>So what are you waiting for? Live the life you've always wanted without ever leaving the house.</p>
<ul>
	<li><h3><table><tr><td>Step 1: </td><td><a href='/clients/foursquare/new'><img src='https://playfoursquare.s3.amazonaws.com/press/logo/connect-black.png'/ style="padding-left: 10px;"></a></td></tr></table></h3></li>
	<li><h3 style="margin-top:10px;">Step 2: Check-in to your home.</h3></li>
</ul>