<h3><%= "#{@user.name}! Welcome to CouchCachet." %></h3>
<p>Make sure you <a href="http://support.foursquare.com/entries/211234-how-do-i-add-create-a-location">have a home</a> and mark it as a private residence, then next time you check in from home on a Friday night, we'll tell you all about the amazing evening you're "going to have".</p>
<p>Once you approve it, the faux fun begins.</p>
<br/>
<br/>
<div class="secret">psst - judges - we have a few shortcuts for you: 
  <ul>
    <li>need a home location?  try <a href="">this one</a></li>
    <li>don't have a few hours to see if the checkins work? don't want to wait til tomorrow to get the follow up email? put "#demo" in the shout of your foursquare checkin and you'll get the checkins, texts, and email immediately after approving the itinerary.</li>
    </ul>
</div>
