<h3><%= "Welcome to CouchCachet #{@user.name}." %></h3>
<p>If you have not already, create a venue for your home and mark it as a private residence.</p>
<p>Next time you check in from home, we'll be in touch.<p>